doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="stylesheet" href="EDgrid-master/src/css/ed-grid.css">
        <link rel="stylesheet" href="scss/estilos.css">
        <link href="https://file.myfontastic.com/AiaNYBwCb92AChSMjnsiRM/icons.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap" rel="stylesheet">
        title José Polanco
    body
        .master.ed-grid.full.s-grid-1.m-grid-2.lg-grid-3.xl-grid-4
            .header.s-cols-1.s-main-center.xl-cols-4.m-cols-2.lg-cols-3.m-main-center.s-cross-center

                .logo.s-40.s-to-center.s-center.m-30.lg-40  
                    img.img-logo(src="img/logo.svg", alt="", srcset="")

                .main-navegacion.s-50.m-60.lg-50.lg-center.lg-to-center.xl-30 
                    ul.main-items
                        li.main-items-list
                            a(href="").links Inicio
                        li.main-items-list
                            a(href="#services").links Servicios
                        li.main-items-list
                            a(href="#about").links Sobre Mí


            .main.s-main-center.s-cross-center.s-cols-1.m-cols-2.lg-cols-3.xl-cols-4
                .block-left.xl-40.s-100.m-45.lg-45.xl-45 
                    .social.xl-60.s.main-center.s-cross-center.lg-center.lg-to-center.m-100
                        .icon-fb-2
                        .icon-ig
                        .icon-twitter

                    .iam.lg-100.lg-to-right.lg-center.lg-cross-center.s-to-center.s-center.s-100.m-100

                        h1.title-i-am.s-100.m-100  Soy José Polanco

                        p.p.s-50.s-center.s-to-center.m-100.lg-50   Soy José, Desarrollador Web con habilidades en HTML, CSS, JAVASCRIPT y Diseños profesionales.

                        .ancla-portafolio.s-100.s-to-center
                            a.s-60.s-to-center.s-center(href="#") Mi portafolio

                .block-right.xl-40.s-100.s-main-center.s-cross-center.m-50 
                    .img.xl-100.s-100.s-center.s-to-center
                        img(src="img/esta.svg", alt="")

            .services.lg-cols-3.xl-cols-4.s-cols-1.s-center.s-to-center.m-cols-2#services 
                .services-section.s-100
                    h1.title-one Services

                .services-title.s-100
                    h2.title-two.s-100 Mis Servicios

                    p.parrafo-services.s-50.s-to-center Desarrollador web con diseños profesionales y dominio de tecnologías web para ofrecer el mejor desempeño.


                    p.parr.s-to-center




                .services-picture.s-75.s-to-center.s-cross-center.s-main-center.lg-80
                    .main-serv.s-100.lg-30 
                        .icon-github.github
                        h3 Web Developer 

                        p Fronted Developer with repository en Github 

                    .main-serv.s-100.lg-30
                        img(src="img/responsive.svg", alt="")

                        h3.m-100 Sitios Web adaptables a su dispositivo 

                        p Experiencia con CSS, HTML y JAVASCRIPT
                    .main-serv.s-100.lg-30 
                        img(src="img/webpack.svg", alt="")

                        h3 Webpack

                        p Contener todo los componentes de la web controlados
                
            .about.s-cols-1.m-cols-2.lg-cols-3.xl-cols-4#about
                h1.about-title.s-center.s-to-center  Sobre mí

                p.about-p.s-center.s-to-center Biendenido(a) a la seccion sobre mí

                p.parr.s-to-center


                .about-description

                    .description-right.s-100.m-100.lg-100.xl-100.s-center.s-to-center
                        h2.about-saludo Hola.! un gusto saludarte 

                        p.lg-70.lg-to-center.m-80.s-to-center.s-80  Me dedico al desarrollo web de sitios web, ya que soy un apacionado por las nuevas tecnologias y me gusta aprender constantemente en la evolucion de este mundo. Me esfuerzo en aprender y doy lo mejor de mí para ofrecer un servicio de calidad, probado y testeado para no tener fallos luego de haber producido el sitio web 

                        h3.about-titulo Nombre 

                        p.about-p Jose Polanco 

                        h3.about-titulo Email 

                        p.about-p  josepolanco@outlook287.com

                        h3.about-titulo LinkedIn

                        p.about-p jose-polanco-770430207






